<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tetst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C33F0581C44BD9000B76135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C33F0701C44BD9000B76135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C33F07B1C44BD9100B76135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
